body{
    margin: 0px;
    height: 100%;
    overflow-x: hidden;
}

.startimg{
    padding-top: 20px;
    background-image: url(https://image.freepik.com/free-photo/violet-marble-background_34936-1765.jpg);
    text-align: center;
    width: 100%;
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.empty{
    padding-top: 150px;
}

.text1{
    font-family: 'Tahoma', serif;
    font-size: 50px;
    color: rgb(41, 39, 39);
    padding-top: 50px;
    justify-items: center;
}

.text2{
    font-family: 'Tahoma', serif;
    font-size: 35px;
    color: rgb(41, 39, 39);
    padding-top: 30px;
    justify-items: center;
}

.about{
    background-color: rgb(245, 236, 236);
    width: 100%;
    height: 100px;
}

.header1{
    font-family: 'Tahoma', serif;
    font-size: 35px;
    color: rgb(41, 39, 39);
    padding-top: 30px;
    text-align: center;
}

.aboutimg{
    padding-top: 50px;
    background-image: url(https://image.freepik.com/free-photo/violet-marble-background_34936-1765.jpg);
    text-align: center;
    width: 100%;
    height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.text3{
    background-color: rgb(179, 112, 187);
    width: 75%;
    height: 75px;
    color: white;
    font-family: 'Tahoma', serif;
    text-align: center;
}

.exp{
    background-color: rgb(245, 236, 236);
    width: 100%;
    height: 100px;
}

.header2{
    font-family: 'Tahoma', serif;
    font-size: 35px;
    color: rgb(41, 39, 39);
    padding-top: 30px;
    text-align: center;
}

.expimg{
    padding-top: 50px;
    background-image: url(https://image.freepik.com/free-photo/violet-marble-background_34936-1765.jpg);
    text-align: center;
    width: 100%;
    height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.text5{
    padding-top: 50px;
}

.contact{
    background-color: rgb(245, 236, 236);
    width: 100%;
    height: 100px;
}

.header3{
    font-family: 'Tahoma', serif;
    font-size: 35px;
    color: rgb(41, 39, 39);
    padding-top: 30px;
    text-align: center;
}

.contactimg{
    padding-top: 50px;
    background-color: rgb(215, 161, 221);
    text-align: center;
    width: 100%;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}